{% extends "form.html" %}
{% block content %}
<!doctype html>
<html>
    <head>
        <title>Plot Page</title>
    </head>
    <body>

        <div class="container-fluid" style="margin: 20px">
            <form action="{{ url_for("plot_rt.plot_data")}}" method="post" class="form-inline container-fluid">
                
                <div class="form-group">
                    <label style="margin: 0 5px 0 5px">Rt for:</label>
                    <div class="col-xs-5">
                        <select name="fstate" data-live-search="true" id="fstate" class="form-control selectpicker" title="State"> 
                            {% for row in states_list %}
                            <option>{{row}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            
                <div class="form-group">
                    <div class="col-xs-5">
                        <div class="form-group">
                            <label style="margin: 0 5px 0 5px">From:</label>
                            <div class="input-group date" id="datetimepicker7" data-target-input="nearest">
                                <input type="text" class="form-control datetimepicker-input" name="dfrom" data-toggle="datetimepicker" data-target="#datetimepicker7" placeholder="YYYY-MM-DD"/>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-xs-5">
                        <div class="form-group">
                            <label style="margin: 0 5px 0 5px">To:</label>
                            <div class="input-group date" id="datetimepicker8" data-target-input="nearest">
                                <input type="text" class="form-control datetimepicker-input" name="dto" data-toggle="datetimepicker" data-target="#datetimepicker8" placeholder="YYYY-MM-DD"/>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="form-group"><div class="col-sm-offset-2 col-sm-5"><button type="submit" class="btn btn-default" id="go-button" style="border: 1px solid grey; opacity: 50%">Go</button></div></div>
            </form>
        </div>

        <div class="flex-container">
            
            <div class="flex-row">   
                <div class="plot-container">
                    <div id="plot"></div>
                </div>
            </div>

            <div class="flex-row-box">  
                <div class="plot-container">
                    <div id="plot_json_smoothed"></div>
                </div>
            </div>

            <div class="flex-row-box">
                <div class="plot-container">
                    <div id="plot_json_posteriors"></div>
                </div>
            </div>

            <div class="flex-row-box">
                <div class="plot-container">
                    <div id="plot_json_smoothed"></div>
                </div>
            </div>

        </div>

        
        <div class="container">
            <table class="table">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>ML_Rt</th>
                        <th>Low_95</th>
                        <th>High_95</th>
                    </tr>
                </thead>
                <tbody>
                    {% for index, row in html_table.iterrows() %}
                    <tr>
                        <td>{{ index }}</td>
                        <td>{{ row['ML_Rt']|round(2) }}</td>
                        <td>{{ row['Low_95']|round(2) }}</td>
                        <td>{{ row['High_95']|round(2) }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

    </body>
</html>
{% endblock %}